.mainContainer {
  width: 100%;
  background-color: #efefef;
}
/* navbar */
header {
  width: 100%;
  background: linear-gradient(to top,transparent,rgba(0, 0, 0, 0.5));
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}
.headerWrapper {
  width: 100%;
  padding: 1rem 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  color: white;
  position: relative;
}
.logo {
  width: 8rem;
}
.nav {
  display: flex;
  align-items: center;
}

.navItemContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0;
  padding: 0;
}
.menuIcon{
  display: none;
}
.closeIcon{
  display: none;
}
.mobileNavContainer{
  display: none;
}
@media screen and (max-width:768px) {
  .navItemContainer{
    display: none;
  }
  .menuIcon{
    display: block;
    width: 2rem;
    height: 2rem;
  }
  .closeIcon{
    display: block;
    width: 2rem;
    height: 2rem;
  }
  .mobileNavContainer{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 99;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.8);
    color: white;
    font-family: "League Spartan";
    height: 40vh;
    overflow-y: scroll;
  }
  .mobileNavContainer>li{
    font-size: 2rem;
    margin-top: 1rem;
  }
  .mobileFlotService{
    display: none;
  }

}

.navItem {
  list-style: none;
}
.navLink {
  color: inherit;
  text-decoration: none;
}
.serviceNav {
  position: relative;
}
.flotService {
  display: none;
}
.serviceNav:hover .flotService {
  position: absolute;
  top: 100%;
  left: 0;
  display: block;
  background-color: white;
  width: max-content;
  margin: 0;
  padding: 1rem;
  list-style: none;
  background: rgba(225, 225, 225, 0.36);
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25),
    inset 0px 4px 82px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.flotService li {
  margin: 1rem 0;
}
.navLinkFloat {
  text-decoration: none;
  color: white;
  font-family: "League Spartan";
}
/* hero */
.heroSec {
  width: 100%;
}
.heroWrapper {
  width: 100%;
}
.heroWrapper {
  width: 100%;
}
.carousel-item {
  position: relative !important;
  top: 0;
  left: 0;
}

.heroContent {
  position: absolute;
  bottom: 10%;
  left: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 825px;
  gap: 1rem;
}
.heroHeading {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  color: #ffffff;
}
.heroPara {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  color: #ffffff;
}
.heroBtn {
  padding: 0.5rem;
  border-radius: 12px;
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  color: #ffffff;
  border: none;
  outline: none;
}
@media (max-width:768px){
  .heroHeading{
    font-size: 2rem;
  }
  .heroPara{
    display: none;
  }
  .heroBtn{
  border-radius:6px;
  font-size: .5rem;

  }
}
.heroBtn1 {
  background: #5acfff;
}
.heroBtn2 {
  background: rgba(17, 46, 136, 1);
}
.heroBtn3 {
  background: #5acfff;
}

/* service section */
.serviceSec {
  width: 100%;
  background-image: url("/assets/images/serviebg.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.serviceWrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 4rem 2rem;
}
.serviceCard {
  width: 442px;
  height: 488px;
  background: #ffffff;
  border-radius: 30px;
  border-bottom: 1rem solid
    linear-gradient(180deg, #c89ffe 3.96%, #9747ff 50.31%, #5a00cf 100%);
  border-radius: 2rem;
  position: relative;
  z-index: 0;
  overflow: hidden;
  transition: 0.3s;
  cursor: pointer;
}
.serviceCard::after {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    #c89ffe 3.96%,
    #9747ff 50.31%,
    #5a00cf 100%
  );
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  clip-path: polygon(0 93%, 100% 93%, 100% 100%, 0 100%);
  transition: 0.3s;
  content: "";
}
.serviceCard:nth-child(2)::after {
  background: linear-gradient(
    180deg,
    #6dedff 1.35%,
    #00ffff 50.31%,
    #249dff 99.99%,
    #00b3ff 100%
  );
}
.serviceCard:nth-child(3)::after {
  background: linear-gradient(
    180deg,
    #b2edff 1.35%,
    #4786ff 50.31%,
    #0038ff 100%
  );
}
.serviceCard:nth-child(4)::after {
  background: linear-gradient(
    180deg,
    #b2edff 1.35%,
    #4786ff 50.31%,
    #0038ff 100%
  );
}
.serviceCard:nth-child(5)::after {
  background: linear-gradient(
    180deg,
    #c89ffe 3.96%,
    #9747ff 50.31%,
    #5a00cf 100%
  );
}

.serviceCard:hover::after {
  background-image: url("/assets/images/cardImg1.png");
  background-size: cover;
  clip-path: none;
}
.serviceCard:hover:nth-child(2):after {
  background-image: url("/assets/images/cardImg2.png");
  background-size: cover;
  clip-path: none;
}
.serviceCard:hover:nth-child(3):after {
  background-image: url("/assets/images/cardImg3.png");
  background-size: cover;
  clip-path: none;
}
.serviceCard:hover:nth-child(4):after {
  background-image: url("/assets/images/cardImg4.png");
  background-size: cover;
  clip-path: none;
}
.serviceCard:hover:nth-child(5):after {
  background-image: url("/assets/images/cardImg5.png");
  background-size: cover;
  clip-path: none;
}

.serviceCard:hover .serviceCardWrapper > svg {
  margin-top: 10rem;
  transition: 0.4s;
  color: white;
}
.serviceCard:hover .serviceCardWrapper > h2 {
  transition: 0.3s;
  font-size: 2.5rem;
  color: white;
}
.serviceCard:hover .serviceCardWrapper > p {
  display: none;
}
.serviceCard:hover .serviceCardWrapper > button {
  display: none;
}

.serviceCardWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  padding: 1rem;
}
.serviceCardHeading {
  font-family: 'League Spartan"';
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  color: #000000;
}
.serviceCardPara {
  font-family: "League Spartan";
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}
.serviceCardBtn {
  border: none;
  outline: none;
  cursor: pointer;
  background: #c89ffe;
  border-radius: 8px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  padding: 0.5rem 1rem;
}
.serviceCard:nth-child(2) button {
  background: #04d8ff;
}
.serviceCard:nth-child(3) button {
  background: #76ceff;
}
.serviceCard:nth-child(4) button {
  background: #76ceff;
}
.serviceCard:nth-child(5) button {
  background: #c89ffe;
}

/* about section */

.aboutSec {
  min-height: 100vh;
  width: 100%;
  background-image: url("/assets/images/aboutBg.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutWrapper {
  width: 100%;
  padding: 4rem;
}
.aboutHeading {
  color: #0038ff;
  font-size: 2rem;
  font-family: "League Spartan";
}
.aboutTop {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.aboutTopLeft {
  display: flex;
  flex-direction: column;
  flex: 6;
  font-family: "League Spartan";
}
.ourHistory {
  color: black;
  font-size: 3rem;
}
.historyPara {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
}
.aboutTopRight {
 flex: 4;
}
.historyImg {
  width: 100%;
}
.aboutBottom {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 1rem;
}
.aboutBottomLeft {
 flex: 6;
}
.aboutBottomRight {
  flex: 4;
}
.aboutBottomLeft > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.aboutBottomLeft > ul > li {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
}
.aboutBottomLeft > ul > li > span {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: rgba(151, 71, 255, 1);
}
.aboutSecBtn {
  background: #ffffff;
  border: 4px solid #4d89ff;
  border-radius: 3rem;
  padding: 0 2rem;
  /* font-family: 'League Spartan'; */
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  color: #4d89ff;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}
.aboutSecBtn:hover {
  background-color: #4d89ff;
  color: white;
}
@media screen and (max-width:768px) {
  .aboutTop{
    flex-direction: column;
  }
  .aboutBottom{
    flex-direction: column;
  }
}

/* course section */
.courseSec {
  width: 100%;
  background-image: url("/assets/images/coursesBg.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.courseWrapper {
  width: 100%;
  padding: 4rem;
}
.courseMainHeading {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 20px;
  color: #178ffe;
}
.courseDiv {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.courseLeft {
 flex: 1;
}
.courseLeftHeading {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  display: flex;
  align-items: center;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  margin: 1rem 0;
}
.courseCard {
  width: 205px;
  height: 136px;
  background: #ffffff;
  border: 3px solid #9747ff;
  border-radius: 20px;
}
.courseCard:nth-child(2) {
  border: 3px solid rgba(11, 116, 253, 1);
}
.courseCard:nth-child(3) {
  border: 3px solid rgba(56, 124, 255, 1);
}
.courseCard:nth-child(4) {
  border: 3px solid rgba(151, 71, 255, 1);
}
.courseCard:nth-child(5) {
  border: 3px solid rgba(151, 71, 255, 1);
}
.courseCard:nth-child(6) {
  border: 3px solid rgba(4, 216, 255, 1);
}
.courseCardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.courseCardWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.courseCardWrapper > p {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1px;
  color: #000000;
}
.courseRight {
flex: 1;
}
.courseImg {
  width: 100%;
}
@media (max-width:768px){
  .courseDiv{
    flex-direction: column;
  }
 .courseCardContainer {
  gap: .5rem;
 }
}
/* learn sec */
.learnWarapper {
  width: 100%;
  padding: 4rem;
}
.learnLeft {
  margin-top: 12rem;
  width: 60%;
}
.learnHeading {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  color: #ffffff;
}
.learnPara {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  color: #ffffff;
}

.learnLeft > ol > li {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  color: #ffffff;
}
.learnRight {
  display: flex;
  justify-content: flex-end;
}
.learnImg {
  width: 70%;
}
@media (max-width:768px){
  .learnLeft{
    width: 100%;
  }
}

/* footer */
footer {
  width: 100%;
  min-height: 612px;
  background: linear-gradient(180deg, #95b9ff 0.31%, #6f00ff 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.footerWrapper {
  width: 100%;
  padding: 4rem;
  display: flex;
  gap: 1rem;
}
.footerWrapper > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.footerLogo {
  width: 100%;
}
.footerPara {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  color: #ffffff;
  margin: 0;
}
.socialIconContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  align-self: flex-start;
}
.socialIconContainer > svg:hover path {
  cursor: pointer;
}
.footerHeading {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  align-items: center;
  letter-spacing: 0.1px;
  color: #ffffff;
  text-align: center;
}
.footerWrapper ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footerWrapper li {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.footerWrapper li:hover{
  transform: scale(110%) translateX(10%);
}
@media screen and (max-width:768px){
  .footerWrapper{
    flex-direction: column;
  }
  .footerWrapper > div{
    align-items: flex-start;
  }
}

/* banner */
.banner {
  width: 100%;
}
.bannerWrapper {
  width: 100%;
  height: 454px;
  padding: 4rem;
  background: linear-gradient(
    0deg,
    rgba(4, 216, 255, 0.992157) 1.87%,
    rgba(53, 140, 255, 0.992157) 50.31%,
    rgba(151, 71, 255, 0.992157) 100%
  );
  display: flex;
  align-items: flex-end;
}
.bannerLeft {
  width: 60%;
}
.bannerHeading {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 500;
  font-size: 5rem;
  text-align: center;
  color: #ffffff;
}
.bannerRight {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}
.bannerImg {
  width: 50%;
}
/* learn and train */
.learnTrainSec {
  width: 100%;
  background-image: url("/assets/images/learnAndTrainBg.png");
  background-size: cover;
}
.learnTrainWrapper {
  width: 100%;
  padding: 4rem;
}
.learnTrainHeading {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 500;
  font-size: 3.5rem;
  color: #000000;
}
.learnTrainPara {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  color: #000000;
  margin-bottom: 2rem;
}
.providings {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.providingsLeft {
  width: 60%;
}
.providingsLeft > ol {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  color: #000000;
}

.providingsRight {
  width: 40%;
}
.providingsImg {
  width: 100%;
}
.learnTrainCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.type2card {
  width: 570px;
  height: 370px;
  background-color: white;
  border-radius: 2rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
}
.type2card::after {
  width: 100%;
  height: 100%;
  background: #5bdcfd;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  clip-path: ellipse(60% 20% at 50% 100%);
  transition: 0.3s;
  content: "";
}
.type2card:nth-child(even):after {
  width: 100%;
  height: 100%;
  background: #9747ff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  clip-path: ellipse(60% 20% at 50% 100%);
  transition: 0.3s;
  content: "";
}
.type2card::before {
  width: 100%;
  height: 100%;
  background: #9747ff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  clip-path: ellipse(60% 20% at 50% 0%);
  transition: 0.3s;
  content: "";
}
.type2card:nth-child(even):before {
  width: 100%;
  height: 100%;
  background: #5bdcfd;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  clip-path: ellipse(60% 20% at 50% 0%);
  transition: 0.3s;
  content: "";
}

.type2cardWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.learnTrainCardContainer h2 {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 500;
  font-size: 2.5rem;
  text-align: center;
  color: #ffffff;
}
.learnTrainCardContainer div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.learnTrainCardContainer div h3 {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
  color: #000000;
}
.learnTrainCardContainer div p {
  text-align: center;
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  color: #000000;
}
.learnTrainCardContainer button {
  background-color: transparent;
  padding: 0.2rem 1rem;
  border: 1px solid #000000;
  border-radius: 42px;
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
  color: #000000;
}
.type2card:hover .type2cardWrapper > div > p {
  display: none;
}
.type2card:hover .type2cardWrapper > div > h3 {
  color: white;
  transition: 0.2s;
}
.type2card:hover .type2cardWrapper > h2 {
  margin-top: 5rem;
  color: white;
  transition: 0.3s;
}
.type2card:hover {
  background-image: url("/assets/images/type2cardBg.png");
  background-size: cover;
}
.type2card:nth-child(even):hover {
  background-image: url("/assets/images/type2cardBgEven.png");
}
.type2card:hover::after {
  display: none;
}
.type2card:hover::before {
  display: none;
}
.type2card:hover .type2cardWrapper > button {
  margin-bottom: 5rem;
  width: 224px;
  height: 65px;
  border: 2px solid #ffffff;
  border-radius: 42px;
  color: white;
  transition: 0.3s;
}

/* career page */
.careerSec {
  width: 100%;
  background-image: url("/assets/images/careerBg.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.careerWrapper {
  width: 100%;
  padding: 4rem;
}
.careerHeading {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 500;
  font-size: 4rem;
  text-align: center;
  color: #000000;
}
.careerCardContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}
.careerCard {
  width: 545px;
  height: 397px;
  background: #ffffff;
  box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  position: relative;
  z-index: 0;
  overflow: hidden;
}
.careerCard::after {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #9747ff, #4d89ff, #58e3fd);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  content: "";
  clip-path: inset(0 0 80% 0);
}
.careerCard:nth-child(even):after {
  background: linear-gradient(to left, #9747ff, #4d89ff, #58e3fd);
}
.careerCardWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.careerCardWrapper h2 {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  color: #ffffff;
}
.careerCardWrapper div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.careerCardWrapper h3 {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  color: #000000;
}
.careerCardWrapper p {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  color: #000000;
}
.careerCardWrapper button {
  width: 247px;
  height: 41px;
  background: #5ab0ff;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  outline: none;
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  color: #ffffff;
}
.careerCard:hover::after {
  display: none;
}
.careerCard:hover {
  background: linear-gradient(180deg, #9747ff 0%, #4d89ff 49.79%, #58e3fd 100%);
}
.careerCard:nth-child(even):hover {
  background: linear-gradient(0deg, #9747ff 0%, #4d89ff 49.79%, #58e3fd 100%);
}
.careerCard:hover .careerCardWrapper > div {
  display: none;
}
.careerCard:hover h2 {
  transform: scale(140%) translateY(150%);
  transition: 0.3s;
}
.careerCard:hover button {
  border: 2px solid #ffffff;
  border-radius: 42px;
  background-color: transparent;
  transform: scale(140%) translateY(-150%);
  transition: 0.3s;
}

/* software development */
.softwareSec {
  width: 100%;
  background-image: url("/assets/images/largeBg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.softwareSecWrapper {
  width: 100%;
  padding: 4rem;
}
.softwareSecWrapper > div {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}
.softwareSecLeft {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.softwareSecRight {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.softwareSecWrapper h2 {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  color: #000000;
}
.softwareSecWrapper p {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  color: #000000;
}
.softwareSecWrapper img {
  width: 80%;
}
.softwareCardContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.softDevCard {
  width: 593px;
  height: 326px;
  background: #ffffff;
  border: 5px solid #178ffe;
  box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  position: relative;
  z-index: 0;
  overflow: hidden;
}
.softDevCard:nth-child(even) {
  border: 5px solid #9747ff;
}
.softDevCard::before {
  content: "";
  background: #43a0f5;
  clip-path: circle(10% at 5% -1%);
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.softDevCard:nth-child(even)::before {
  background: #9747ff;
}
.softDevCardWrapper {
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.softDevCardWrapper > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.softDevCardWrapper h3 {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  text-decoration-line: underline;
}
.softDevCard:nth-child(odd) {
  color: rgba(23, 143, 254, 1);
}
.softDevCard:nth-child(even) {
  color: rgba(151, 71, 255, 1);
}
.softDevCardWrapper p {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  color: #000000;
}
.softDevCardWrapper svg {
  align-self: flex-end;
  cursor: pointer;
}
.softDevCard:hover::after {
  content: "";
  background: #43a0f5;
  clip-path: circle(25% at 100% 100%);
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.softDevCard:nth-child(even):hover::after {
  background: #9747ff;
}
.whiteArrow {
  display: none;
}
.softDevCard:hover .colorArrow {
  display: none;
}
.softDevCard:hover .whiteArrow {
  display: block;
  transform: scale(150%);
  transition: 0.3s;
}
.muchMore{
  width: 100%;
  display: flex;
  flex-direction:column;
  align-items: center;
  gap: 2rem;
}
.muchMore h4{
  font-family: 'League Spartan';
font-style: normal;
font-weight: 700;
font-size: 2.5rem;
color: #000000;
}
.muchMore p{
  font-family: 'League Spartan';
font-style: normal;
font-weight: 500;
font-size: 1.5rem;
color: #000000;
}
.muchMore button{
  width: 317px;
height: 83px;
background: #FFFFFF;
border: 3px solid #178FFE;
border-radius: 67px;
font-family: 'League Spartan';
font-style: normal;
font-weight: 700;
font-size: 40px;
color: #178FFE;
}
.muchMore button:hover{
  background: #178FFE;
  color: white;
}
.softwareSecWrapper>h1{
  margin: 2rem 0;
  font-family: 'League Spartan';
font-style: normal;
font-weight: 700;
font-size: 3rem;
text-align: center;
color: #000000;
}
